{% extends 'secapp/index.html' %}
{% load static %}
{% static "images" as baseUrl %}
	
{% block dosto %}
<section class="section">
    <div class="container">

        <div class="section__header">
            <h2 class="section__title">المعالم التاريخية لروسيا</h2>
        </div>
         <div class="card"> 
           {% for dost in dosts %} 
            
            <a href="{% url 'dosto_details' dost.id %}">
            <div class="card__item">
               <div class="card__inner">
                    <div class="card__img">
                        <img  src="{{dost.dost_image.url}}" alt="{{dost.dost_alter}}" height="280px" length= "430px">
                    </div>

                </div>
                <div class="card__name">{{dost.dost_name}}</div>
            </div>
            </a>
            {% endfor %} 
        </div> <!--class card -->
    </div>

    </div><!-- /.container -->

</section>

{% endblock %}
