{% extends 'secapp/index.html' %}
{% load static %}
{% static "images" as baseUrl %}
	
{% block famous %}
<section class="section">
    <div class="container">

                <div class="card__name">{{fame.fame_name}}</div>
               
                   
               <div> <img  src="{{fame.fame_image.url}}" alt="{{fame.fame_alter}}" width="600px"></div>
                                 
                <div class="card__name">{{fame.fame_desc | linebreaks}}</div>

    </div><!-- /.container -->

</section>

{% endblock %}