{% extends 'secapp/index.html' %}
{% load static %}

{% block health %}
<div class="container">
<div class="puplish">
<div class="publish_title"><h3>السفر للعلاج</h3></div>
<div class="puplish_images"><img src="{% static 'images/health/1.jpg'%}"> </div>
<div class="publish_detail">
<p>تقدم لكم شركة سفاري خدمة السفر للعلاج في أفضل المستشفيات الروسية المتخصصة في جميع المجالات. <br>
تشمل الخدمة التالي:<br>
- استشارة مجانية مع طبيب عربي مختص متواجد في روسيا يستطيع تقديم معلومات كافية حول جدوى السفر للعلاج في روسيا وكذلك اختيار المستشفى المناسب وعرض تكلفة أولية للعلاج<br> 
- الاستقبال في المطار والتنقل على سيارات خاصة.<br>
- مترجم يصاحب المريض في جميع تنقلاته. <br>
- توفير سكن قريب من المستشفى وبأسعار مناسبة. <br>

</p>
</div>

</div>

</div>
{% endblock %}
